@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
}
.container{
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
   /* header   */
   .header{
    /* z-index: 9999; */
    display: flex;
    align-items: center;
    width: 100%;
    /* position: fixed; */
    height: 80px;
    border-bottom: 2px solid white;
    background-color: #FFFF;
   }
   .navbar__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .navbar__wrapper__img{
    width: 100%;
    max-width: 100px;
   }
   .navbar__right{
    display: flex;
    align-items: center;
    gap: 30px;
   }
   .navbar__right__text{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: rgb(39, 33, 33);
   }
   .navbar__list{
    display: flex;
    align-items: center;
    gap: 15px;
   }
   .navbar__list__item{
    display: none;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
   color: rgb(39, 33, 33);
   }
   .navbar__right__img{
    display: none;
    border-radius: 50%;
    padding: 4px;
    background: gray;
   }
   .navbar__burger{
    display: none;
    color: #000;
    width: 30px;
    height: 30px;
   }
   /* header   */ 

   /* main  */
   main{
   }
   .burger__main{
   margin-left: 280px;
   width: 30px;
   height: 30px;
   }
   .hero{
    padding: 50px 0px 40px;
    background-color: #F4F5FA;
   }
   .hero___wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: column-reverse;
   }
   .hero__img__left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 40px;
   }
   .hero__left__img__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
   }
   .hero__img__left img{
    width: 150px;
    height: 200px;
    object-fit: contain;
   }
   .hero__img__right{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
   }
   .hero__right__wrapper{
    position: absolute;
    top: 140px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
   }
   .hero__right__bottom__text{
    display: flex;
    flex-direction: column;
   }
   .hero__right__title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   }
   .hero__img__right img{
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    object-fit: cover;
   }
   /* about  */
   .select__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;   
   }
   .select__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
   }
   .select__box select{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #1970B9;
   }
.about{
    padding: 60px 0px 100px;
}
.btn__wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content:center ;

}
.hide__btn{
    display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 400;
        color: #000;
            border-radius: 5px;
            padding: 5px;
            transition: 0.5s;
}
.hide__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__wrapper{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: space-between;
}
.about__show__btn:hover{
    background-color: #0A66C2;
    color: white;
    border: none;
}
.hide__btn:hover{
    background-color: #0A66C2;
        color: white;
        border: none;
}
.about__show__btn{
    transition: 0.5s;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    color: #000;
}
.about__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}
.about__left__top{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 50px;
}
.about__left__top__tile__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about__left__top__img__wrapper{
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
}
.about__left__top__logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.about__left__top__logo-one{
    top: -10px;
    right: -5px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.about__left__top__title{
    font-family: Poppins;
    font-size: 20px;
    color: #1972BC;
}
.about__left__top__title__img{
    width: 20px;
    height: 20px;
}
.about__left__title{
    font-family: Poppins;
    font-weight: 700;
    color: #212121;
}
.about__nav__list{
    display: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.about__nav__item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about__nav__item img{
    width: 25px;
    height: 25px;
}
.about__nav__item p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #7389BC;
}
.about__top__text{
    font-family: Poppins;
    font-size: 18px;
    color: #1988D4;
}
.about__profile__wrapper{
    display: flex;
    gap: 40px;
}
.about__profile__wrapper span{
    border-radius: 50%;
    padding: 12px;
    color: white;
    font-family: Poppins;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4200FF;
}
.profile__wrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profile__wrapper h4{
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins;
    color: #212121;
}
.profile__wrapper p{
    font-size: 16px;
    font-family: Poppins;
    color: #212121;
}
.about__left__bottom{
    display: none;
    flex-direction: column;
    gap: 25px;
    padding-top: 40px;
    width: 100%;
    max-width: 600px;
}

.about__left__bottom__title{
    font-size: 16px;
    font-family: Poppins;
    color: #212121;
}
.about__left__bottom__list{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 14px;
    color: #212121;
}
.about__left__bottom__text__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__left__bottom__text__list li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Poppins;
    font-size: 15px;
    color: #212121;
}
.about__left__bottom__text__list__span{
    font-size: 14px;
}
.about__right{
display: flex;
flex-direction: column;
gap: 50px;
}
.about__right__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #37397A;
}
.about__right__box__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__right__box__top__left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about__right__box__top__left h3{
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    color: white;
}
.about__right__box__top__left p{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
    width: 100%;
    max-width: 250px;
}
.about__right__box__top__right{
    width: 80px;
    height: 80px;
}
.about__right__img__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__right__img__wrapper div{
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.about__right__img__wrapper__img img{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.about__right__top__box__bottom{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.about__right__top__box__bottom img{
    width: 30px;
    height: 30px;
}
.about__right__top__box__bottom p{
    font-size: 16px;
    font-family: Poppins;
    color:#0A66C2;
}
.about__right__box__one{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
}
.about__right__box__one h3{
    font-family: Poppins;
    font-weight: 700;
    color: #000000;
}
.about__right__text__img{
    display: flex;
    align-items: center;
    gap: 5px;
}
.about__right__text__img img{
    width: 25px;
    height: 25px;
}
.about__right__text__img p{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000;
}
.about__right__box__span{
    font-size: 14px;
    font-weight: 700;
}
.about__right__btn{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    color: #444696;
    font-size: 18px;
    font-weight: 400;
}
.about__right__box__bottom__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #37397A;
    border: 1px solid gray;
}
.about__right__box__bottom__box__top{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.about__right__box__bottom__box__top h3{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    color: #000;
}
.about__right__box__bottom__box__top__img__wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.about__right__img__wrapper__bottom{
    position: relative;
}
.about__right__img__wrapper__bottom__img__one{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.about__right__img__wrapper__bottom__img{
    position: absolute;
    top: -5px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.about__right__box__bottom__box__top__img__wrapper h4{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.about__right__link{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.about__right__link p{
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    color: #1970B9;
}
.about__right__link img{
    width: 20px;
    height: 20px;
}
.about__right__box__bottom__box__bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.about__right__box__bottom__box__bottom p{
    font-weight: 400;
    font-size: 16px;
    font-family: Poppins;
    color: #000;
}
.about__right__bottom__link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about__right__bottom__link p{
    font-weight: 400;
        font-size: 16px;
        font-family: Poppins;
        color: #000;
}
.about__right__box__bottom__box{
    background-color: white;
}
 footer{
    box-shadow: 0px 0px 5px 5px gray;
    padding: 50px 0px 100px;
 } 
 .footer__wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }
 .footer__wrapper__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 }
 .footer__wrapper__top__left{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .footer__wrapper__top__left__img {
    width: 120px;
    height: 120px;
    object-fit: contain;
 }
 .footer__wrapper__top__left__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .footer__wrapper__top__left__wrapper li{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .footer__wrapper__top__left__wrapper__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
 }
 .footer__wrapper__top__left__wrapper__img{
    width: 120px;
 }
 .footer__wrapper__top__right{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .footer__wrapper__top__right p{
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #000;
 }
 .footer__wrapper__top__right select{
border: none;
font-family: Poppins;
font-weight: 400;
font-size: 16px;
outline: none;
 }
 .footer__wrapper__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
 }
 .footer__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .footer__list__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .footer__list__item p{
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #000;
 }
 .footer__list__item__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .footer__list__item__list li{
    font-weight: 400;
    font-family: Poppins;
    font-size: 14px;
    color: #1970B9;
 }
 .footer__listing{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .footer__listing__item{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #1970B9;
 }
 .footer__listing__item span{
    display: none;
 }
 .footer__select__one{
    display: none;
 }

 /* about  */
   /* main  */


   @media only screen and (min-width:400px){
    .navbar__right__text{
    font-size: 16px;
    }
    .navbar__burger{
        display: flex;
    }
    .burger__main{
        display: none;
    }
   }
   @media only screen and (min-width:1000px){
    .navbar__right__img{
        display: flex;
    }
    .navbar__list__item{
        display: flex;
    }
    .navbar__burger{
        display: none;
    }
    
   }
   @media only screen and (min-width:1000px){
    .hero___wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin-right: 250px;
    }
    .hero__img__left{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 150px;
    }
    .hero__img__left img{
        width: 120px;
        height: 120px;
    }
   .hero__left__img__wrapper {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 5px 5px gray;
   }
   .hero__left__img__wrapper img{
    width: 150px;
    height: 150px;
   }
   .hero__img__right{
    background-color: white;
    height: 500px;
}
.footer__wrapper__bottom{
    flex-direction: row;
}
.footer__listing{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__listing__item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__listing__item span{
    display: flex;
}
.footer__list{
    flex-direction: row;
}
.footer__select{
    display: none ;
}
.footer__select__one{
    display: flex;
}
.about__nav__list{
    display: flex;
}
.select__wrapper{
    display: none;
}
.about__show__btn{
    display: none;
}
.hide__btn{
    display: none;
}
.about__left__bottom{
    display: flex;
    gap: 20px;
}

   }
   @media only screen and (min-width:1280px){
    .about__wrapper{
        flex-direction: row;
    }
    .about__right__box{
        width: 380px;
    }
    .about__right__box__one{
        width: 380px;
    }
    .about__right__box__bottom__box{
        width: 380px;
    }
    .footer__list{
        display: flex;
        gap: 200px;
    }
   }